@import "../../styles/base.scss";

.container {
    @include directionY;
    margin-bottom: 3rem;

    .container_inner {
        margin-top: 3rem;
    }

    .not_found {
        margin-top: 3rem;
        @include font(30px, $font-weight-medium, "");
        text-align: center;
    }
}