@import "../../styles/base.scss";

.container {
    margin: 4rem 0;
    @include directionY;

    .search{
        @include directionX;
        margin-top: 2rem;
        padding: 1rem;
        
        .input {
            @include directionY;
            border: 1px solid var(--color-bg);

            div {
                @include directionX;
            }
            
            input {
                color: var(--color-text);
            }
        }

        .btn_wrapper {
            border-radius: 0 10px 10px 0;
            width: 3rem;
            background-color: var(--color-primary);
            color: var(--color-bg);
        }
    }

    .btn{
        margin: 0 1rem .5rem auto;
        text-transform: capitalize;
        @include font(18px, $font-weight-regular, "");
    }

    div{
        display: grid;
    }

    .list{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        @include apply-at-lg-size{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .result_empty {
        @include font(30px, $font-weight-medium, "");
        text-align: center;
    }

    .empty_wrapper {
        @include directionY;
        align-items: center;

        .listing_empty{
            @include font(30px, $font-weight-medium, "");
        }
        
        .create_btn {
            margin-top: 1rem;
            @include font(18px, $font-weight-regular, "");
            text-transform: capitalize;
        }
    }

}