@import "../../styles/base.scss";

.container {
    margin: 4rem 0;
    @include directionY;

    .btn{
        margin: 0 1rem .5rem auto;
        text-transform: capitalize;
        @include font(18px, $font-weight-regular, "");
    }

    div{
        display: grid;
    }

    .list{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        @include apply-at-lg-size{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .empty_wrapper {
        @include directionY;
        align-items: center;

        .listing_empty{
            @include font(30px, $font-weight-medium, "");
        }
        
        .create_btn {
            margin-top: 1rem;
            @include font(20px, $font-weight-medium, "");
            text-transform: capitalize;
        }
    }

}