@import '@styles/base';

.container {
    padding: 0 !important;
    overflow-x: hidden;
    width: 100vw;

    .one{
        @include directionY;
        height: 93vh;
        width: 100%;
        padding: 0 !important;
        margin-top: 2rem;

        @include apply-at-lg-size{
            @include directionX;
            margin-top: 0rem;
        }

        .left_wrapper{
            @include directionY;
            justify-content: center;

            @include apply-at-lg-size{
                width: 50%;
                height: 100%;
            }

            .background_image {                
                background-image: url("../../../asset/house-5.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 30vh;
                
                @include apply-at-lg-size{
                    height: 50vh;
                    border-radius: 0 20px 20px 0;
                }
                
                @include apply-at-xxl-size{
                    height: 70vh;
                    border-radius: 0 20px 20px 0;
                }
            }
        }
        
        .right_wrapper{
            @include directionY;
            padding: 2rem 1rem;

            @include apply-at-lg-size{
                width: 50%;
                justify-content: center;
                padding: 2rem;
            }

            .header{
                @include font(26px, $font-weight-bold, "");
                
                @include apply-at-sm-size{
                    @include font(38px, $font-weight-bold, "");
                }
                
                @include apply-at-xxl-size{
                    @include font(60px, $font-weight-bold, "");
                }
            
            }
            
            .sub_header{
                margin-top: .5rem;
                @include font(16px, $font-weight-light, "");
                
                @include apply-at-sm-size{
                    @include font(24px, $font-weight-light, "");
                }
                
                @include apply-at-lg-size{
                    line-height: 2rem;
                    width: 90%;
                }
            }

            button {
                margin-top: 1rem;
                text-transform: capitalize;
                @include font(14px, $font-weight-regular, "");
                width: 7rem;
                
                @include apply-at-sm-size{
                    @include font(16px, $font-weight-regular, "");
                    width: 8rem;
                }
                
                @include apply-at-xxl-size{
                    @include font(20px, $font-weight-regular, "");
                    width: 9rem;
                    margin-top: 2rem
                }
            }
        }
    }

    .two {
        @include directionY;
        padding: 0;
        height: 91vh;
        width: 100%;
        background-image: url("../../../asset/house-4.jpg");
        background-size: cover;
        position: relative;
        align-items: center;

        .content {
            @include directionY;
            justify-content: center;
            z-index: 10;
            height: 100%;   
            padding: 1rem; 

            .content_inner {
                .header {
                    text-align: center;
                    @include font(26px, $font-weight-bold, var(--color-bg));

                    @include apply-at-sm-size{
                        @include font(38px, $font-weight-bold, "");
                    }

                    @include apply-at-xxl-size{
                        @include font(60px, $font-weight-bold, "");
                    }
                }
    
                .sub_header{
                    margin-top: 1rem;
                    @include font(16px, $font-weight-regular, var(--color-bg));
                    text-align: center;

                    @include apply-at-sm-size{
                        @include font(24px, $font-weight-light, "");
                    }
                }
                
                .search{
                    @include directionX;
                    margin-top: 2rem;

                    .input {
                        border: 1px solid var(--color-bg);

                        input {
                            color: var(--color-bg);
                        }
                    }

                    .btn_wrapper {
                        border-radius: 0 10px 10px 0;
                        width: 3rem;
                        background-color: var(--color-primary);
                        color: var(--color-bg);
                    }
                }
            }
        }

        .backdrop {
            z-index: 5;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.9;
            top: 0;
            position: absolute;
        }
    }
}