@import "@styles/base.scss";


.container {
    @include directionY;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 1.5rem;
    height: 20rem;
    width: 80%;
    
    @include apply-at-md-size{
        width: 60%;
    }
    
    @include apply-at-xxl-size{
        width: 50%;
    }
    
    .header {
        margin-bottom: .5rem;
        @include font(24px, $font-weight-medium, "");
        
        @include apply-at-lg-size {
            @include font(30px, $font-weight-medium, "");
        }
    }

    .date_wrapper{
        @include directionY;

        .form_label{
            @include font(14px, $font-weight-light, "");
            margin: .8rem 0 .3rem;
            
            @include apply-at-lg-size{
                @include font(18px, $font-weight-light, "");
            }
        }
    
        .form_label_error{
            @extend .form_label;
            color: var(--color-button);
            margin: .3rem 0rem;
            text-align: right;
        }

        div div fieldset{
            border-color: none !important;
        }
    }

    .btn_wrapper {
        margin: auto 0 0 auto;
        
        button {
            text-transform: capitalize;
        }
    
        button:nth-of-type(2) {
            margin-left: .5rem;
        }
    }
}
